.NavBarItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 2.5);
  width: 95%;
  height: 110px;
  border-radius: 18px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  color: #f1f1f1;
  justify-self: start;
  white-space: nowrap;
}

.NavMenu {
display: grid;
grid-template-columns: repeat(6, auto);
grid-gap: 10px;
list-style: none;
align-items: center;
text-align: center;
justify-content: end;
}

.nav-a,
.action {
  text-decoration: none;
  color: #f1f1f1;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  border-radius: 7px;
  transition: 1s;
}

.nav-a:hover {
  background: #5050ee;
  transition: 1s;
}

.action {
  border: 1px #f1f1f1 solid;
  padding: 0.3rem 1rem;
  transition: 1s;
}

.action:hover {
  transition: 1s;
  padding: 0.7rem 1rem;
  border: none;
  color: #222;
  background-color: #f1f1f1;
  font-weight: 300;
}
