/* NavBar */
.NavBarItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 2.5);
  width: 95%;
  height: 110px;
  border-radius: 18px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.logo {
  color: #f1f1f1;
  justify-self: start;
  white-space: nowrap;
}

.NavMenu {
display: grid;
grid-template-columns: repeat(6, auto);
grid-gap: 10px;
list-style: none;
align-items: center;
text-align: center;
justify-content: end;
}

.nav-a,
.action {
  text-decoration: none;
  color: #f1f1f1;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  border-radius: 7px;
  transition: 1s;
}

.nav-a:hover {
  background: #5050ee;
  transition: 1s;
}

.action {
  border: 1px #f1f1f1 solid;
  padding: 0.3rem 1rem;
  transition: 1s;
}

.action:hover {
  transition: 1s;
  padding: 0.7rem 1rem;
  border: none;
  color: #222;
  background-color: #f1f1f1;
  font-weight: 300;
}

.fa-times,
.fa-bars {
  color: gray;
  cursor: pointer;
}

.menuIcons{
  display: none;
}

/* Hero */

.hero-container {
  width: 100%;
  height: 100vh;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(80, 79, 107) 0%, rgba(178,61,212,1) 39%, rgba(104,0,255,1) 98%);
}

.tag-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
  color: #dad1d1;
  width: 80%;
}

.tag-container h3{
  font-size: 55px;
  font-family: Impact;
  font-style: italic;
  text-shadow: -3px 2px black;
  line-height: 1.2;
  word-spacing: 9px;
  letter-spacing: 3px;
  position: relative;
  z-index: 0;
}

.tag-container p {
  width: 70%;
  padding: 1rem 0;
  line-height: 1.5;
  font-weight: 600;
  word-spacing: 4px;
}

.hero-img{
  position:absolute;
  bottom: 0;
  right: 1%;
  z-index: 0;
  width: 450px;
}

/* Footer */

.footer{
  background-color: #1E1E1E;
  color: #f1f1f1;
  padding: 4rem;
}

.footer-container {
  display: flex;
  gap: 3rem;
}

.footer-col1 {
  flex: 3;
}

.footer-col2 {
  flex: 1;
}
.footer-col2 ul li{
  list-style: none;
}
.footer-col2 ul li a{
  text-decoration: none;
  color: #f1f1f1;
  white-space: nowrap;
}

.footer-col1-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 850px){
  .NavBarItems{
    z-index: 99;
  }
  .NavMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    border-radius: 13px;
    backdrop-filter: blur(4px);
    width: 100%;
    height: auto;
    position: absolute;
    top: -510%;
    left: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  .NavMenu.active{
    top: 0;
  }
  .nav-a {
    display: block;
    widows: 100%;
    padding: 2rem 0;
    color: #222;
  }
  .nav-a:hover {
    background: rgba(255, 255, 255, .25);
    backdrop-filter: 20px;
  }
  .action{
    color: #222;
    border: none;
  }
  .action:hover{
    background-color: #222;
    color: #f1f1f1;
    padding: 8px;
  }
  .menuIcons {
    display: block;
  }
  /* Hero */
  .tag-container{
    text-align: center;
    top: 53%;
    width: 90%;
  }
  .tag-container h3{
    font-size: 50px;
    word-spacing: 2px;
    line-height: 1.2;
  }
  .tag-container p{
    width: 100%;
  }
  .hero-img{
    display: none;
  }
  /* Footer */
  .footer-container {
    flex-direction: column;
      gap: 0rem;
      & > div {
        margin-top: 5rem;
      }
  }
}